name: Tests

on:
  pull_request:
  push:
    branches: [main, test]

jobs:
  pre-commit:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: pre-commit/action@v3.0.1

  test:
    name: Python
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: [ 3.9, "3.10", "3.11" ]
        os:  [ macos-latest, ubuntu-latest] # disable windows for now, windows-latest ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python and cache deps
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: requirements/CI.txt

      - name: Install pip deps
        run: |
          pip install -r requirements/CI.txt

      - name: Run tests
        run: |
          coverage run --source=phylokit -m pytest -x -n0

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python and cache deps
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: 'pip'
          cache-dependency-path: requirements/CI.txt

      - name: Install pip deps
        run: |
          pip install -r requirements/CI.txt

      - name: Generate coverage
        run: |
          PHYLOKIT_DISABLE_NUMBA=1 coverage run --source=phylokit -m pytest -x -n0

      - name: Upload coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --service=github
